/* 푸터 하단 고정 */
body {
  height: 100vh;
}
#wrapper{
  height:auto;
  min-height:100%;
}
footer {
	position:relative;
	background:black;
	padding-top:1rem;
	padding-bottom:1rem;
}


/* 페이지네이션 */
.paging {
	display:flex;
	justify-content:center;
}
.paging a {
	line-height:2.5rem;
	text-align:center;
	margin-right:0.5rem;
	background-color:white;
	color:black;
	width:2.5rem;
	height:2.5rem;
	text-decoration:none;
}
.paging strong {
	line-height:2.5rem;
	text-align:center;
	margin-right:0.5rem;
	background-color:#198754;
	border-radius:50%;
	color:white;
	width:2.5rem;
	height:2.5rem;
	text-decoration:none;
}