/* 드래그 효과 */
::selection {
  background-color: #d1ffc0;
  color: #000000;
}


/* 컨텐츠 영역 */
.layout {
	display:flex;
	flex-direction:column;
	margin-left:10rem;
	margin-right:10rem;
	margin-top:3rem;
}
.layout layout-header {
	margin-bottom:5rem;
}
.layout .layout-header h1 {
	font-weight:bold;
}


/* 푸터 하단 고정 */
body {
    height: 100vh;
}
#wrapper{
    height:auto;
    min-height:100%;
}
footer {
	position:relative;
	background:black;
	padding-top:1rem;
	padding-bottom:1rem;
}


/* 페이지네이션 */
.paging {
	display:flex;
	justify-content:center;
}
.paging a {
	line-height:2.5rem;
	text-align:center;
	margin-right:0.5rem;
	background-color:white;
	color:black;
	width:2.5rem;
	height:2.5rem;
	text-decoration:none;
}
.paging strong {
	line-height:2.5rem;
	text-align:center;
	margin-right:0.5rem;
	background-color:#198754;
	border-radius:50%;
	color:white;
	width:2.5rem;
	height:2.5rem;
	text-decoration:none;
}