/* 드래그 효과 */
::selection {
  background-color: #198754;
  color: #FFFFFF;
}


/* 지금 뜨는 약국 뉴스 롤링박스 */
.rollingbanner{
    position: relative;
    width: 380px;
    height: 32px;
    font-size: .875rem;
    letter-spacing: -1px;
    padding: 7px 15px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border-radius: 16px;
}
/* 타이틀 */
.rollingbanner > .title{
    font-weight: bold;
    float: left;
    padding-right: 1.5rem;
    color:#32A852;
}
/* 롤링 배너 */
.rollingbanner > .wrap{
    position: relative;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}        
.rolling ul{
    list-style: none;
}
.rollingbanner li{
    position: absolute;
    top: -36px;
    left: 0;
}
/* 이전, 현재, 다음 롤링 배너 표시 */
.rollingbanner li.prev{
    top: 36px;
    transition: top 0.5s ease;
}
.rollingbanner li.current{
    top: 0;
    transition: top 0.5s ease;
}
.rollingbanner li.next{
    top: -36px;
}
.rollingbanner a{
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
}


/* 컨텐츠 영역 */
.layout {
	display:flex;
	flex-direction:column;
	margin-left:10rem;
	margin-right:10rem;
	margin-top:3rem;
}
.layout-header {
	margin-bottom:1rem;
}
.layout .layout-header h1 {
	font-weight:bold;
}


/* 검색창 영역 */
.searchbox {
	display:flex;
	justify-content:center;
	padding:3rem;
	background:#d1ffc0;
	border-radius:30px;
	margin-bottom:1rem;
}


/* 메인화면 Section 2 */
.customcard {
	margin-left:3rem;
	margin-right:3rem;
	margin-bottom:3rem;
	padding:0;
	width:30rem;
	border: 0.1rem solid #e7e7e7;
}

.customcard > .cardtop {
	background-color:#d1ffc0;
	text-align: start;
	font-size:1.3rem;
	font-weight:bold;
	padding:1rem;
}

.customcard > .cardbottom {
	background-color:#ffffff;
}


/* 테이블에 들어간 a 태그 효과 */
td a {
	color:black;
	text-decoration:none;
	background-color:#fffeda;
}


/* 푸터 하단 고정 */
body {
    height: 100vh;
}
#wrapper{
    height:auto;
    min-height:100%;
}
footer {
	position:relative;
	background:black;
	padding-top:1rem;
	padding-bottom:1rem;
}


/* 페이지네이션 */
.paging {
	display:flex;
	justify-content:center;
}
.paging a {
	line-height:2.5rem;
	text-align:center;
	margin-right:0.5rem;
	background-color:white;
	color:black;
	width:2.5rem;
	height:2.5rem;
	text-decoration:none;
}
.paging strong {
	line-height:2.5rem;
	text-align:center;
	margin-right:0.5rem;
	background-color:#198754;
	border-radius:50%;
	color:white;
	width:2.5rem;
	height:2.5rem;
	text-decoration:none;
}